<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PromoHunt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C4F4DD21E3F07E50075085E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C4F4DE61E3F07E50075085E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C4F4DF11E3F07E50075085E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
